body {

    background-color: blanchedalmond;
    color: green;
    font-size: 21px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {

    color: brown;
}

h1 {

    font-size: 70px;
    color: pink;
}

span {

    color: yellow;
    font-size: 40px;
}

.first-paragraph {
    
    color: blueviolet;
}

.second-paragraph {

    div {

        background: pink;
        width: 500px;
        height: 500px;
    }
}

.fourth-paragraph {
    
    text-align: center;
    color: white;

    div {
        text-align: center;
        color: white;
        background: red;

    }
}

.fifth-paragraph {

    color: white;
    
    div {
        
        background-color: green;

    } 
}

.sixth-paragraph {

    color: black;
     
    div {

        background-color: rgb(255, 157, 0);
    }
}